﻿@using AR_Grace_beauty.Models;
@model TypeService

@{
    ViewData["Title"] = "Изменение";
}

<div class="row justify-content-center">
    <div class="card text-white bg-secondary mb-5 mt-5" style="max-width: 50rem;">
        <div class="card-header"><h2 class="text-light card-title cell-centered">Изменить услугу</h2></div>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label class="p-1" for="floatingInput" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-primary"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" for="floatingInput" asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-primary"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" asp-for="ServiceId"></label>
                    <select asp-for="ServiceId" asp-items="ViewBag.ServiceList" class="form-select">
                        <option selected disabled></option>
                    </select>
                    <span asp-validation-for="ServiceId" class="text-primary"></span>
                </div>
                <div class="mb-3">
                    <label class="p-1" for="floatingInput" asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-primary"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <a asp-controller="TypeService" asp-action="Index" class="btn btn-primary w-100">Back</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-warning w-100">Apply</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
