<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grace Beauty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AR_Grace_beauty.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Grace Beauty</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">
                                Главная
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Клиенты</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Client" asp-action="Index">Список</a>
                                <a class="dropdown-item" asp-controller="Client" asp-action="Add">Новый клиент</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мастера</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Worker" asp-action="Index">Список</a>
                                <a class="dropdown-item" asp-controller="Worker" asp-action="Add">Новый мастер</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Услуги</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Service" asp-action="Index">Список услуг</a>
                                <a class="dropdown-item" asp-controller="TypeService" asp-action="Index">Список услуг по видам</a>
                                <a class="dropdown-item" asp-controller="Service" asp-action="Add">Новая услуга</a>
                                <a class="dropdown-item" asp-controller="TypeService" asp-action="Add">Новый вид услуги</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Записи</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Registration" asp-action="Index">Список</a>
                                <a class="dropdown-item" asp-controller="Registration" asp-action="Add">Новая запись</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted fixed_footer">
        <div class="container mt-1">
            &copy; 2023 - Grace Beauty 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
