@{
    ViewData["Title"] = "Домашняя";
}

<div class="mt-3" style="font-size: 1.2rem;">
    <div class="col-12">
        <h1 class="text-center display-5">
            Добро пожаловать в барбершоп Galanj
        </h1>
        <img src="~/img/main.jpg" class="w-100 rounded-2 mt-2" />
        <p class="mt-3">
            👋 Добро пожаловать в барбершоп Galanj! ✂️
        </p>
        <p>
            Мы рады приветствовать вас в нашем уютном заведении, где профессиональные барберы сделают все возможное, чтобы вы выглядели стильно и ухоженно. Наша команда состоит из опытных мастеров, которые следят за последними тенденциями в мужской стрижке и бритье.   
        </p>
        <p>
            В Galanj BarberShop мы предлагаем широкий спектр услуг, включая классическую стрижку, моделирование бороды, бритье горячим полотенцем и многое другое. Мы используем только качественные продукты и инструменты, чтобы обеспечить вам самый высокий уровень обслуживания.
        </p>
        <p>
            Мы гарантируем вам не только отличный результат, но и прекрасную атмосферу, где вы можете расслабиться и насладиться процессом. Мы стремимся к тому, чтобы каждый наш клиент чувствовал себя особенным и уходил с уверенностью в своем стиле.
        </p>
        <p>
            Если вы ищете место, где вас услышат, поймут ваши пожелания и создадут идеальный образ, то Galanj BarberShop - идеальный выбор для вас. Записывайтесь на прием прямо сейчас и доверьтесь профессионалам!
        </p>
        <div class="d-flex justify-content-end mt-4">
            <p>
                С уважением,<br>
                Команда Galanj BarberShop 🪒💈
            </p>
        </div>
    </div>
</div>