@{
    ViewData["Title"] = "Домашняя";
}

<div class="mt-3" style="font-size: 1.2rem;">
    <div class="col-12">
        <h1 class="text-center">
            Добро пожаловать в салон красоты Grace Beauty!
        </h1>
        <img src="~/img/main.jpg" class="w-100 rounded-5 mt-2" />
        <p class="mt-3">
            Мы рады приветствовать вас на нашем сайте, где вы сможете ознакомиться с широким спектром услуг, которые мы предлагаем, и узнать больше о нашем профессиональном подходе к красоте и уходу за клиентами.
        </p>
        <p>
            В Grace Beauty мы стремимся помочь вам почувствовать себя уверенно, привлекательно и полными сил. Наша команда талантливых стилистов, визажистов и мастеров маникюра и педикюра сделает всё возможное, чтобы подчеркнуть вашу естественную красоту и помочь вам достичь желаемого образа.
        </p>
        <p>
            Мы предлагаем широкий спектр услуг, включая стильные стрижки и прически, профессиональный макияж для особых мероприятий или повседневного образа, маникюр и педикюр для идеального вида ваших ногтей, а также релаксационные и оздоровительные процедуры для полного расслабления и обновления вашего тела и души.
        </p>
        <p>
            Все наши услуги проводятся с использованием высококачественных продуктов и самых современных техник, чтобы гарантировать вам безупречный результат. Мы постоянно следим за последними тенденциями в индустрии красоты и участвуем в профессиональных обучениях, чтобы быть в курсе новейших методов и технологий.
        </p>
        <p>
            Мы ценим каждого нашего клиента и стремимся создать для вас комфортную и расслабляющую атмосферу. Все наши мастера дружелюбны, профессиональны и готовы предоставить вам высокий уровень обслуживания.
        </p>
        <p>
            Просмотрите наш каталог услуг и выберите то, что лучше всего соответствует вашим потребностям и предпочтениям. Мы всегда готовы ответить на ваши вопросы и помочь вам с выбором.
        </p>
        <p>
            Обратитесь в Grace Beauty и дайте нам возможность помочь вам почувствовать себя прекрасно. Мы с нетерпением ждем встречи с вами!
        </p>
        <div class="d-flex justify-content-end mt-4">
            <p>
                С любовью,<br>
                Команда Grace Beauty
            </p>
        </div>
    </div>
</div>